#site_header {
    color: white;
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: var(--bg-color);
}

#site_header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: var(--bg-color) !important;
    padding: 0 55px;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    animation: navbar 0.3s linear forwards;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar .navbar-brand img {
    max-width: 70px;
}
.navbar li a {
    color: var(--white-color) !important; 
    text-decoration: none; 
    font-family: var(--primary-font);
  }
  
 
  
  

.navbar .navbar-toggler {
    display: none;
    cursor: pointer;
    margin-right: 1rem;
    text-align: center;
    

}
.navbar .navbar-toggler .list_icon{
     color: var(--white-color);
     
}
.active-link {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
    transition: all 0.1s ease-in-out;
}

.menu-items {
    transition: transform 0.1s ease-in-out;
}
.list_icon {
    font-size: 2.5rem;
}





@media (max-width: 992px) {
    .navbar .navbar-toggler {
        display: block;
    }
}

.menu-items {
  font-size: 37px;
  letter-spacing: 0.025em;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  padding: 0;

}

@media (max-width: 992px) {
    .menu-items {
        position: fixed;
        top: 0;
        left: -250px;
        bottom: 0;
        background-color: var(--bg-color);
        z-index: 9999;
        width: 250px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        transition: transform 0.3s ease-in-out;
    }
}

.menu-items.active {
    transform: translateX(250px);
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 0 1rem;
}

@media (max-width: 992px) {
    .navbar li {
        display: block;
        border-bottom: 1px solid rgb(74, 67, 67);
    }
}

.navbar li a {
    padding: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
}

@keyframes navbar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100);
    }
}