#services_section{
background-color: var(--bg-color) !important;
background: url(../../src/assest/stars.png) center no-repeat;
background-size: cover;
padding-top: 30px;
}
#services_section h2{
    font-weight: 700;
    color: var(--white-color);
    font-size: 38px;
}
@media (max-width:776px) {
    #services_section h2{
        font-size: 30px;
    }
}