#services_section{
background-color: var(--bg-color) !important;
padding-top: 35px;
padding-bottom: 20px;
position: relative;
    overflow: hidden;
}
#services_section h2{
    font-weight: 700;
    color: var(--white-color);
    font-size: 38px;
}
@media (max-width:776px) {
    #services_section h2{
        font-size: 30px;
    }
}
.stars-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: transparent;
    overflow: hidden;
}

.stars-bg::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(white 1px, transparent 1px);
    background-size: 30px 30px;
    opacity: 0.3;
}


